$app-form-valid-color: #198754;
$app-form-valid-border-color: #198754;
$app-form-invalid-color: #dc3545;
$app-form-invalid-border-color: #dc3545;
$app-body-color: #212529;
$app-body-bg: #fff;
$app-border-width: 1px;
$app-border-style: solid;
$app-border-color: #dee2e6;
$app-border-radius: 0.375rem;
$app-border-radius-sm: 0.25rem;
$app-border-radius-lg: 0.5rem;
$app-border-radius-xl: 1rem;
$app-border-radius-xxl: 2rem;
$app-border-radius-2xl: $app-border-radius-xxl;
$app-border-radius-pill: 50rem;
$app-primary: #0d6efd;
$app-secondary: #6c757d;
$app-success: #198754;
$app-info: #0dcaf0;
$app-warning: #ffc107;
$app-danger: #dc3545;
$app-light: #f8f9fa;
$app-dark: #212529;
$app-secondary-bg: #e9ecef;

:root,
[data-app-theme='light'] {
	--app-form-valid-color: $app-form-valid-color;
	--app-form-valid-border-color: $app-form-valid-border-color;
	--app-form-invalid-color: $app-form-invalid-color;
	--app-form-invalid-border-color: $app-form-invalid-border-color;
	--app-body-color: $app-body-color;
	--app-body-bg: $app-body-bg;
	--app-border-width: $app-border-width;
	--app-border-style: $app-border-style;
	--app-border-color: $app-border-color;
	--app-border-radius: $app-border-radius;
	--app-border-radius-sm: $app-border-radius-sm;
	--app-border-radius-lg: $app-border-radius-lg;
	--app-border-radius-xl: $app-border-radius-xl;
	--app-border-radius-xxl: $app-border-radius-xxl;
	--app-border-radius-2xl: $app-border-radius-2xl;
	--app-border-radius-pill: $app-border-radius-pill;
	--app-primary: $app-primary;
	--app-secondary: $app-secondary;
	--app-success: $app-success;
	--app-info: $app-info;
	--app-warning: $app-warning;
	--app-danger: $app-danger;
	--app-light: $app-light;
	--app-dark: $app-dark;
	--app-primary-rgb: 13, 110, 253;
	--app-secondary-rgb: 108, 117, 125;
	--app-success-rgb: 25, 135, 84;
	--app-info-rgb: 13, 202, 240;
	--app-warning-rgb: 255, 193, 7;
	--app-danger-rgb: 220, 53, 69;
	--app-light-rgb: 248, 249, 250;
	--app-dark-rgb: 33, 37, 41;
	--app-secondary-bg: $app-secondary-bg;
}
